MLFLOW_TRACKING_URI=sqlite:///C:/Users/adda-/mlflow.db
MLFLOW_RUN_ID=
MLFLOW_MODEL_ARTIFACT_PATH=model
MODEL_PATH=model/lgbm_model.joblib
MODEL_META_PATH=model/model_meta.json
SCALER_PATH=model/scaler.joblib
